* {
    box-sizing: border-box;
    margin : 0;
    padding: 0;
  }
  
  /* photos card */
  .photo-card{
    height: 30vh;
    width: 40vh;
    background-repeat: no-repeat;
    background-position: center center center center;
    border-radius: 100%;
    background-size: 100% auto;  
  }
  
  #photo-card-1{
    background-image: url('../assets/images/list-service/electricista-1.jpg');
  }
  
  #photo-card-2{
    background-image: url('../assets/images/list-service/electricista-2.jpg');
  }
  
  #photo-card-3{
    background-image: url('../assets/images/list-service/electricista-3.jpg');
  }
  
  /* backgrounds */
  .back-navbar{
    background-color: black;
    /*height: 11vh;*/
    margin-bottom: 0;
  }

  .grad4 {
    background: linear-gradient( rgb(0,195,142) 4%, rgb(17, 17, 17));
  }

  .back-list-service {
    background-color: #00c38e ;
    height: 200vh;
  }
  
  .title-list-service {
    color: white;
    text-align: center;
    position:relative;
    left: 200px;
    top: -50px;
  }
  
  .activa{
      background-color: #00c38e;
  }
  
  /* imagenes header */
  
  .logo-size {
    height: 4vh;
  }
  
  /* letras */
  .subt-letter {
    text-align: center;
    margin: 0;
  }
  
  .letter-name ,.letter-resum{
    margin: 0;
  }
  
  /* calificación 5 estrellas */
  
  label{ 
    color:grey;
  }
  
  input[type = "radio"]{ 
    display:none;
  }
  
  .clasificacion{
      direction: rtl;/* right to left */
      unicode-bidi: bidi-override;/* bidi de bidireccional */
  }
  
  label:hover{
    color:orange;
  }
  
  label:hover ~ label{
    color:orange;
  }
  
  input[type = "radio"]:checked ~ label{
    color:orange;
  }
  
  #form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
    
  #form p { 
    text-align: center; 
  }
  
  #form label { 
    font-size: 20px; 
  }
  
  input[type="radio"] { 
    display: none;
  }
  
  label {
    color: grey;
  }
    
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
    
  label:hover, label:hover ~ label { 
    color: orange; 
  }
  
  input[type="radio"]:checked ~ label {
    color: orange; 
  }
  
  .size-star { 
    font-size: 2.0em;
  }  
 
  /* Publicaciones */
  .publications{
    margin-top: 1em;
  }

  .title{
    background-color: #00c38e;
    font-size: 30px;
    padding:  0;
    text-align: center;
    width: 100%;
  }

  .subtitle{
    background-color: #416bc7e3;
    color: blanchedalmond;
    font-size: 20px;
    padding:  0;
    width: 100%;
  }

  textarea{
    border-radius: 1em;
    display: block;
    margin: 1em auto;
    width: 90%;
  }

  .new{
    background-color: white;
    border-radius: 5px;
    border: 0.1em solid #00c38e;
    display: block;
    height: auto;
    margin: 15px 0;
    padding: 10px 30px 10px 10px;
    position: relative;
    width: 100%;
    word-wrap: break-word;
  }

  #container-1{
    margin: 15px 0;
  }
  .labeled{
    text-decoration:line-through;
  }
  .icon{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 40%;
  }