* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* clases reutilizables */
.grad4 {
    background: linear-gradient( rgb(0,195,142) 4%, rgb(17, 17, 17));
}

.vh100 {
	height: 100vh;
}

.container-flex-column{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em;
}

/* estilos index */

main h1,.section-option h3{
	color: #000000;
}

/* sectionn-option */
.section-option i{
	color: #00c38e;
}

img[alt="logo-menu"]{
	height: 6vh;
	width: 20vw;
}

.subtitle-h2{
	color: dimgrey;
}

.subtitle-h2:hover{
	color: #ffffff;
}

@media screen and (min-width:991px){
/* section-option */
img[alt="logo-menu"]{
	height: 5vh;
	width: 7vw;
}

.subtitle-h2{
	display: inline-block;
	position: relative;
	left: 12em;
}

.center-ul{
	position: relative;
	top: 0.6em;
}

}
