<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
	<meta name="keywords" content="Obchod">
  <meta name="description" content="Obchod">
  <meta name="NetWorking-Girls" content="NetWorking-Girls">
  <meta http-equiv="content-type" content="text/html;UTF-8">
  <meta http-equiv="cache-control" content="cache">
  <meta http-equiv="content-language" content="es">
  <!-- Enlaces -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/main.css">
	<title>Odchop</title>
</head>

<body class="grad4">
	<header>
	<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header nav-head">
          <!--menu hamburguesa-->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <img src="../assets/images/logo2.PNG" alt="logo-menu">
					</a>
					<h2 class="text-center subtitle-h2">Odchop</h2>
				</div>
        <div class="collapse navbar-collapse navbar-ex1-collapse ne" id="navbar-menu">
          <!--se posciona al lado derecho en desktop-->
          <ul class="nav navbar-nav navbar-right center-ul">
            <li><a href="#">Quienes somos</a></li>
            <li><a href="#">Oficios</a></li>
            <li><a href="search-service.html">Clientes</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="register.html">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
	</header>

	<div class="col-xs-offset-1 col-md-offset-1">
      <a href="../index.html"><i class="fa fa-chevron-circle-left fa-2x icon" aria-hidden="true"></i></a>
  </div>

	<section class="section-option vh100 container-flex-column">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<div class="text-center">
						<a class="btn btn-default" href="search-services.html" role="button">
							<i class="fa fa-search fa-3x" aria-hidden="true"></i>
						</a>
						<h3>Buscar servicio</h3>
					</div>
					<br>
					<div class="text-center">
						<a class="btn btn-default" href="register.html">
							<i class="fa fa-usd fa-3x" aria-hidden="true"></i>
						</a>
						<h3>Ofrecer servicio</h3>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--section footer-->
  <footer id="footer" class="bg-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <img src="../assets/images/logo2.PNG" alt="logo footer">
            <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <ul>
            <li><a href="#">¿Quienes Somos?</a></li>
            <li><a href="#">Oficios</a></li>
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
						<li><a href="#">Prensa</a></li>
						<li><a href="#">Videos</a></li>
						<li><a href="#">Eventos</a></li>
						<li><a href="#">Comunidades</a></li>
						<li><a href="#">Blogs</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-xs-6 col-md-3">
					<ul class="nav navbar-nav text-center icons-desktop">
						<li><a href="#" class="fa fa-facebook-official"></a></li>
						<li><a href="#" class="fa fa-twitter"></a></li>
						<li><a href="#" class="fa fa-apple"></a></li>
						<li><a href="#" class="fa fa-linkedin"></a></li>
						<li><a href="#" class="fa fa-play"></a></li>
					</ul>
            <div class="text-center">
                <img src="../assets/images/app-store.png" alt="appstore">
                <img src="../assets/images/google-play.png" alt="googleplay">
            </div>
        </div>
      </div>
      <div class="row una-columna">
        <div class="col-md-12 text-center">
          <hr>
          <address> © 2017 Social Red Obchod </address>
        </div>
      </div>
    </div>
  </footer>
	<script src="../vendors/js/jquery-3.2.1.min.js"></script>
	<script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
