<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Red Social Oficios</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/profile-job.css">
</head>
<body>
  <hr class="">
  <div class="container target">
    <div class="row">
      <div class=""><a href="#" class="pull-left"><img title="profile image" class="img-circle img-responsive" src="../assets/images/list-service/electricista-1.jpg"></a>
      </div>
      <div class="col-sm-10">
        <h2 class="">Miguel Quiñones</h2>
        <button type="button" class="btn btn-success">Follow</button>
        <button type="button" class="btn btn-primary">Message</button>
        <br>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3">
      <!--left col-->
      <ul class="list-group">
        <li class="list-group-item text-muted" contenteditable="false">Profile</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Joined</strong></span> 2.13.2014</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last seen</strong></span> Yesterday</li>
       </ul>
    <div class="panel panel-default">
      <ul class="list-group">
        <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Shares</strong></span> 125</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Likes</strong></span> 13</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Posts</strong></span> 37</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Followers</strong></span> 78</li>
      </ul>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Website <i class="fa fa-link fa-1x"></i>
      </div>
      <div class="panel-body">
        <a href="#" class="">www.web.com</a>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Social Media</div>
        <div class="panel-body">
          <i class="fa fa-facebook fa-2x"></i>
          <i class="fa fa-twitter fa-2x"></i>
          <i class="fa fa-pinterest fa-2x"></i>
          <i class="fa fa-google-plus fa-2x"></i>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Skills</div>
        <div class="panel-body">
          <div class="icon text-center">
            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
          </div>
          <div class="icon text-center">
            <i class="fa fa-paint-brush" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <!--/col-3-->
    <div class="col-sm-6" style="" contenteditable="false">
      <div class="panel panel-default">
        <div class="panel-heading">Resum</div>
          <div class="panel-body">
            <textarea placeholder= "Redacta un resúmen acerca tí..." name="" id="" cols="30" rows="10"></textarea>
          </div>
        </div>
      </div>
      <div class="col-sm-3" style="" contenteditable="false">
        <div class="panel panel-default">
          <div class="panel-heading">Cv</div>
            <div class="panel-body">
              <textarea placeholder= "Redacta un resúmen acerca tí..." name="" id="" cols="30" rows="10"></textarea>
            </div>
          </div>
        </div>
      <div class="col-sm-9" style="" contenteditable="false">
          <div class="panel panel-default">
            <div class="panel-heading">Cv</div>
              <div class="panel-body">
                <textarea placeholder= "Redacta un resúmen acerca tí..." name="" id="" cols="30" rows="10"></textarea>
              </div>
            </div>
          </div>
        </div>
      <div class="col-sm-9" style = "" contenteditable="false">
        <div class="panel panel-default">
          <div class="panel-heading"> Portafolio </div>
            <div class="panel-body">
              <textarea placeholder= "Redacta un resúmen acerca tí..." name="" id="" cols="30" rows="10"></textarea>
            </div>
          </div>
        </div>
      </div>
        <div class="panel panel-default target">
          <div class="panel-heading" contenteditable="false">Pets I Own</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <img alt="300x200" src="../assets/images/list-service/">
                      <div class="caption">
                        <h3>Rover</h3>
                        <p>Cocker Spaniel who loves treats.</p>
                        <p>          </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="thumbnail">
                      <img alt="300x200" src="../assets/images/list-service/">
                      <div class="caption">
                        <h3>Marmaduke</h3>
                        <p>Is just another friendly dog.</p>
                        <p></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="thumbnail">
                      <img alt="300x200" src="../assets/images/list-service/">
                      <div class="caption">
                        <h3> Rocky </h3>
                        <p>Loves catnip and naps. Not fond of children.</p>
                        <p></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">Biography</div>
                <div class="panel-body"> A long description about me.
                </div>
              </div>
            </div>
            <div id="push">
            </div>
      </div>
    </div>
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/profile-job.js"></script>
  <script type="text/javascript" src="../js/data.js"></script>
 </body>
</html>
