<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Red Social Oficios</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="../css/profile-job.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-default nav-menu1">
      <div class="container-fluid">
        <div class="navbar-header nav-head">
          <!--boton barras para la version mobile-->
          <button type="button" class="navbar-toggle collapsed boton-hamburger" data-toggle="collapse" data-target="#navbar-1">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--imagen lab-->
          <a class="navbar-brand" href="#">
            <img src="../assets/images/logo2.PNG" alt="logo-menu">
          </a>
          <h1 class="title-logo1 ">Obchod</h1>
        </div>
        <!--Menu despegable para desktop y mobile-->
        <div class="collapse navbar-collapse" id="navbar-1">
          <!--se posciona al lado derecho en desktop-->
          <ul class="nav navbar-nav navbar-right ">
            <li><a href="#">Quienes somos</a></li>
            <li><a href="#">Oficios</a></li>
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-xs-4 ">
          <button type="button" class="btn btn-default btn-call">llamar</button>
        </div>
        <div class="col-xs-8">
          <figure>
            <img src="../assets/images/electricista.jpg" alt="electricista" class="center-block">
          </figure>
        <a href="#" class="btn  btn-lg active btn-feed" role="button"><i class="fa fa-rss" aria-hidden="true"></i>seguir</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
      <div class="col-xs-12">
        <h3 class="text-center">Datos person</h3>
        <div class="dates">
          <h1>sjsjs</h1>
        </div>

      </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
      <div class="col-xs-6">
        <h3 class="text-center">Servicios</h3>
        <div class="dates text-center">
            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-xs-6">
        <h3 class="text-center">Datos personales</h3>
      </div>
      </div>
    </div>
  </section>





    <script src=""></script>
    <script src="../vendors/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
